<script language="javascript" type="text/javascript" src="/js/jquery.js"></script>
<script language="javascript" type="text/javascript" src="/js/tool.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" >
	var socket = io.connect('http://localhost:3000'); 
	function loginOut(){
		
		if(getCookie("username")!=""){
			//socket.emit("loginOut",{"username":getCookie("username")});
			
		}
		
		delCookie("username");
		window.location.href='/views/main.html'

	}
</script>
<ul id="menu" style=" height:40px">
    <li><a id="home" onclick="javscript:window.location.href='/views/main.html'" style="text-decoration:none; ">首页</a></li>
	<li><a id="set" onclick="javscript:window.location.href='/views/set.html'"  style="text-decoration:none; ">设置</a></li>
	<li><a id="logout" onclick="loginOut()"  style="text-decoration:none;">退出</a></li>
</ur>
